**/0/*
**/0.[0-9]*
**/[1-9]*
**/constant/extendedFeatureEdgeMesh
**.eMesh
**/constant/polyMesh/*
**/*.foam
**/log*
**/*.pyc
**/processor*
**/platforms*
**/linux64*
**/dynamicCode/*
**/PostProcessing/*
**/points
**/__pycache__/*
**/._DS_Store
**/case*
results*